/* Estilos Gerais */
body, h1, a {
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

/* Cabeçalho */
.bg-custom {
    background-color: #145da0;
    height: auto;
    padding: 10px 0;
}

/* Estilos do Título */
h1.font-roboto {
    font-size: 28px;
    font-weight: 700;
    margin: 0;
}

/* Estilo do Link de Login */
a.login-link {
    font-size: 16px;
    font-weight: 400;
    color: white;
    text-decoration: none;
}

a.login-link:hover {
    text-decoration: underline;
    color: #ffdd00;
}

/* Logo */
header img.logo {
    max-height: 56px;
    border-radius: 8px;
    margin: 0 auto;
}

/* Menu de Navegação */
.bg-nav {
    background-color: #007bbe;
}

.nav-link {
    transition: all 0.3s ease-in-out;
    font-weight: 400;
    font-size: 18px;
    color: white;
    text-decoration: none;
}

.nav-item a.nav-link:hover {
    color: #ffdd00;
    text-decoration: underline;
}

/* Conteúdo Principal */
#gif-container img {
    width: 100%;
    max-width: 300px;
    border-radius: 10px;
}

/* Espaçamento Responsivo */
section.row.gy-4 {
    row-gap: 20px; /* Espaço entre as linhas */
}

/* Responsividade */
@media (max-width: 768px) {
    h1.font-roboto {
        font-size: 24px;
    }

    #gif-container img {
        max-width: 200px;
    }

    p {
        font-size: 14px;
        padding: 0 10px;
    }
}

@media (max-width: 576px) {
    h1.font-roboto {
        font-size: 20px;
        text-align: center;
    }

    a.login-link {
        font-size: 14px;
    }
}
