@media (max-width: 768px) {
  .container {
    flex-direction: column; 
    gap: 20px;
    width: 100%; /* Ocupa a largura total da tela */
  }
}
.container {
  display: flex;  /* Alinha os elementos lado a lado */
  gap: 100px;      /* Espaçamento entre as colunas */
  width: 800px;
}
@media (max-width: 768px) {
  .exercicio {
    font-size: 14px;
    padding: 20px; 
  }
}
.exercicio img {
  max-width: 100%;
  height: auto; /* Mantém a proporção da imagem */
  display: block; /* Para centralizar a imagem, se necessário */
  margin: 0 auto; /* Para centralizar a imagem, se necessário */
  }
@media (max-width: 768px) {
  .btn-resolucao, .btn-vermais, .exercicio-passado {
    font-size: 14px; 
  }
}
.exercicio-passado {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  display: block;
  margin-bottom: 20px;
}

.btn-vermais, .btn-resolucao{
  font-family: 'Roboto', sans-serif;
  background-color: white;
  color: black;
  display: block;
  margin: 0 auto;
}